# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Database
*.db
*.sqlite3

# Logs
logs/
test/_test_logs/

# Uploaded files
# media/

# IDE
.vscode/
.idea/

command.txt

# Exported Docker images
*.tar